.list-view {
    -fx-background-color: transparent;
    -fx-pref-height: 200;
}

.list-view .scroll-bar:vertical, .list-view .scroll-bar:horizontal {
    -fx-scale-x: 0;
}


.list-cell {
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-cursor: hand;
}

.list-cell:pressed, .list-cell:selected, .list-cell:hover{
    -fx-background-color: rgba(33, 150, 243, 0.1);
}


.list-cell:hover .productName, .list-cell:selected .productName{
    -fx-text-fill: #2196F3;
}